@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Как смотреть кино– Alish */
body {
    margin: 0px;
    padding-left: 122px;
    padding-top: 21px;
    font-family: 'Roboto', sans-serif;
}

#logo {
    /* logo_mobile_black 1 */
    width: 112px;
    height: 66px;
    margin-bottom: 70px;
}

/* Icons */

#globe,
#clock,
#calendar {
    width: 22px;
    height: 21px;
}

/* paragraph next to icons */
.icon-p {

    font-size: 20px;
    margin-right: 20px;
    margin-left: 10px;
}

/* div with icons */
#icons {

    margin-top: 20px;
    display: flex;
    align-items: center;
}

h1 {
    font-weight: 700;
    font-size: 80px;
    font-family: 'Roboto Slab', serif;
    margin: 0px;
    width: 628px;
    height: 190px;
}

#description {
    width: 414px;
    height: 62px;
    font-size: 20px;
}

/* photos 1 */
#photo1 {
    position: absolute;
    width: 304px;
    height: 356px;
    left: 890px;
    top: 223px;
}

#ellipse1 {
    position: absolute;
    width: 274px;
    height: 41px;
    left: 921px;
    top: 558px;
    z-index: -1;
}

/* Notation block */
#notation {
    background: #1E4681;
    border-radius: 5px;
    width: 483.63px;
    height: 200px;
    padding: 20px 0px 10px 20px;
    margin: 150px 0px 0px 280px;
}

#main-notation {
    width: 430.59px;
    height: 113px;
    font-size: 25px;
    font-family: 'Roboto Slab';

}

#author {
    font-size: 20px;
    width: 280.5px;
    height: 45.64px;
    position: relative;
    left: 270px;
}

#main-notation, #author {
    color: white;
}

/* About course */
.container {
    width: 365px;
}

#about-h2 {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 55px;
    width: 365px;
    height: 93px;
    margin-bottom: 5px;
}

#description-of-course {
    font-size: 24px;
    width: 662px;
    height: 374px;
}

#photo2 {
    position: absolute;
    width: 314px;
    height: 315px;
    left: 973px;
    top: 1060px;
}

#ellipse2 {
    position: absolute;
    width: 366px;
    height: 59px;
    left: 947px;
    top: 1350px;
    z-index: -1;
}

/* Photo block 3 */
.info {
    margin-right: 0px;
    width: 300px;
    height: 300px;
    display: flex;
}

#photo3 {
    position: relative;
    width: 232px;
    height: 203px;
    left: 0px;
    top: 0px;
}

#ellipse3 {
    position: relative;
    width: 189px;
    height: 32px;
    left: 35px;
    top: -20px;
    z-index: -1;
}

/* Data block */
#data-block {
    width: 500px;
    display: flex;
    margin: 10px 0px 0px 100px;
}

.data-subblock {
    display: block;
    padding: 30px;

}

.bold {
    font-weight: 700;
    font-size: 25px;
    width: 150px;
    height: 39px;
}

.data {
    font-size: 18px;
    width: 150px;
    height: 39px;
}

/* end Alish */
/* Формат занятий– Goychak */


.format {
    width: 667px;
    height: 93px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 55px;
    }
    
    .what {
        width: 667px;
        height: 93px;
        margin-top: 100px;
        font-family: 'Roboto Slab';
        font-weight: 700;
        font-size: 55px;
    }
    
    .head-three-1 {
        width: 200px;
        height: 39px;
        font-weight: 700;
        font-size: 25px;
        color: #1E4681;
    }
    
    .head-three-2 {
        width: 214px;
        height: 39px;
        font-weight: 700;
        font-size: 25px;
        color: #1E4681; 
    }
    
    .head-three-3 {  
        width: 150px;
        height: 39px;
        font-weight: 700;
        font-size: 25px;
        color: #1E4681;
    }
    .p-coluumn-1 { 
        width: 223px;
        height: 39px;
        font-size: 18px;
    }
    
    .p-coluumn-2 {
        width: 271px;
        height: 109px;
        font-size: 18px;
    }
    
    .p-coluumn-3 {
        width: 245px;
        height: 39px;
        font-size: 18px;
    }
    
    .unorder {
        width: 662px;
        height: 374px;
        margin-top: 50px;
        font-size: 24px;
    }
    .first-division {
        width: 975px;
        height: 331px;
        margin-top: 140px;
        display: flex;
    }
    .block{
        display: block;
        margin-right: 100px;
    }



/* end-Goychak */
/* Программа курса – Sunay */

.programme {
    font-family: 'Roboto Slab';
    width: 905px;
    height: 93px;
    font-weight: 700;
    font-size: 55px;
}

.hehe{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 1271px;
    height: 1070px;
    gap: 37px;
}


.flex-items {
   width: 399px;
   height: 328px;
   box-shadow: 1px 1px 15px
   rgba(0, 0, 0, 0.25);
   background: #FFFFFF;
   border-radius: 30px;

}

.imaj{
width: 399px;
height: 160px;
}
.parone{
    width: 365px;
    height: 39px;
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;
}
.partwo{
    width: 365px;
    height: 63px;
    font-size: 25px;
    margin-left: 19px;
}

/* end-Sunay */
/* Курс прошло уже 1616 человек–Nurana */
#grey{
    width: 1440px;
    height: 780px;
    margin-left: 1px;
    margin-top: 121px;
    background: #EFEFEF;
    padding-top: 91px;
    padding-bottom: 111px;
}
#celovek{
    margin: 91px 331px 34px 122px;
    width: 987px;
    height: 93px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 55px;
}
#white{
    width: 791px;
    height: 451px;
    margin: 34px 523px 111px 126px;
    background-color: white;
    border-radius: 30px;
    padding: 40px 46px 50px 45px;
}
#text{
    font-size: 20px;
    width: 700px;
    height: 203px;
}
#img1{
    width: 190px;
    height: 169px;
    margin: 10px 30px 29px 26px;
}
#ekaterina{
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 30px;
    width: 353px;
    height: 59px;
    margin: 50px 0px 0px 30px;
}
#div{
    display: flex;
}
#fb{
    width: 32px;
    height: 31px;
    margin-left: 30px;
}
#ekaterinablock{
    display: flex;
    flex-direction: column;
}
#lightblue {
    width: 1440px;
    height: 780px;
    margin-left: 0px;
    background-color: #9DC9C8;
    margin-top: -20px;
    padding-top: 179px;
    padding-left: 122px;
    box-sizing: border-box;
}
#september{
    font-weight: 700;
    font-size: 55px;
    width: 908px;
    height: 66px;
}
#price{
    font-size: 25px;
    width: 170px;
    height: 32px;
    margin-bottom: 0px;
}
#rubl{
    width: 481px;
    height: 181px;
    font-weight: 400;
    font-size: 80px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
}
.td1{
    width: 294px;
    height: 32px; 
    padding-bottom: 9px;
    padding-right: 70px;
    font-size: 25px;
    font-weight: 500;
}
.td2{
    width: 322px;
    height: 32px;
    font-size: 18px;
}
#black{
    width: 1440px;
    height: 390px;
    background: #000000;
    margin-top: -20px;
    margin-bottom: 50px;
}
#hehe{
    width: 115px;
    height: 68px;
    margin-left: 122px;
    margin-top: 50px;
    margin-bottom: 30px
}
#image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 122px ;
}
.facebook{
    width: 32px;
    height: 32px;
    margin-right: 18px;
}
.mobile{
    width: 27px;
    height: 27px;
    margin-right: 10px;
}
#image2 {
    color: white;
    margin-left: 600px;
    margin-top: -150px;
}
.xexe{
    display: flex;
    align-items: center;
    margin-left: 400px;
    margin-top: -5px ;

}
#end{
    margin-top: 70px;
    margin-left: 122px;
    width: 230px;
    height: 40px;
    color: white;
}

/* end Nurana */


/* TABLET */
@media only screen and (max-width:1280px) {
    /* Как смотреть кино– Alish */








    /* end Alish */
    /* Формат занятий– Goychak */









    /* end-Goychak */
    /* Программа курса – Sunay */









    /* end-Sunay */
    /* Курс прошло уже 1616 человек–Nurana */






    

    
    /* end Nurana */
}
/* MOBILE */
@media only screen and (max-width:992px) {
    /* Как смотреть кино– Alish */







    /* end Alish */
    /* Формат занятий– Goychak */







    /* end-Goychak */
    /* Программа курса – Sunay */






    /* end-Sunay */
    /* Курс прошло уже 1616 человек–Nurana */







    
    /* end Nurana */
}