/* Как смотреть кино– Alish */






/* end Alish */
/* Формат занятий– Goychak */



/* end-Goychak */
/* Программа курса – Sunay */



/* end-Sunay */
/* Курс прошло уже 1616 человек–Nurana */
.grey{
    height: 780px;
    width: 1440px;
    top: 4625px;
    left: -1px;
    background-color: #EFEFEF;
    position: absolute;
}





/* end Nurana */
